#sidebar  { display: none}
.box-grafico { width: 100%; margin-left: 0px; zoom: 85%;}

    #sidebar.active {
		display: none;
    }
.boxnote {display: none;}
#txt15 {display: none;}
.material-icons { display: none;}

/* A4 Landscape*/
@page {
 size: A4 landscape;
 margin: 0px;
}

@media screen  {
  html {
    transform: rotate(-90deg);
    transform-origin: left top;
    width: 100vh;
    overflow-x: hidden;
    position: absolute;
    top: 100%;
    left: 0;

  }
	
	svg {width:  100%;}
  
}

